.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.bar {
  width: 80%;
  border: none;
  height: 1px;
  background-color: #d8d8d8;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
